html
    head
        title Pug and HTML Templates
    <style type="text/css">
        include ../css/style.css
    </style>
    body
        include ./header.pug
        include ./main.pug
        include ./footer.pug