main
	h3 What it does?
	p Please enter one of a listed below passwords and click 'Submit' button to get redirected to one of the popular web services.
	include form.pug
	h3 List of passwords:
	ul
		li fb
		li yt
		li inst
